@{
    Layout = null;
}
<!DOCTYPE html>
<html><head>
    <link rel="stylesheet" href="~/css/style-pdf.css">
</head>
<body>
    <div class='container'>
        <div class='pdf-title'><h1>DRIVER SAFETY INDUCTION QUESTIONNAIRE</h1></div>
        <div class='contents'>
            <table class='minimalist'>
                <thead><tr><th>Question</th><th>Answer</th><tr></thead>
                <tbody>
                    <tr>
                        <td>q1</td>
                        <td>a</td>
                    </tr>
                    <tr>
                        <td>q2</td>
                        <td>a</td>
                    </tr>
                    <tr>
                        <td>q3</td>
                        <td>t</td>
                    </tr>
                    <tr>
                        <td>q4</td>
                        <td>y</td>
                    </tr>
                    <tr>
                        <td>q5</td>
                        <td>f</td>
                    </tr>
                    <tr>
                        <td>q6</td>
                        <td>t</td>
                    </tr>                    
                </tbody>
            </table>
        </div>
    </div>           
</body>
</html>
