<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="${basedir}\logs\internal-nlog.txt">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!-- the targets to write to -->
  <targets>
    <!-- write all logs to file  -->
    <target name="allfile" xsi:type="File"
            
            fileName="${basedir}\logs\${date:format=yyyy}/${date:format=MM}/${shortdate}/log-all-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />
            <!-- fileName="${basedir}\logs\${date:format=yyyy}/${date:format=MM}/${date:format=dd}/log-all-${shortdate}.log" -->
    <!-- write info logs to file  -->
    <target name="infoFile" xsi:type="File"
        layout="${longdate} ${pad:padding=5:inner=${level:uppercase=true}} ${logger} ${message}"
        fileName="${basedir}\logs\${date:format=yyyy}/${date:format=MM}/${shortdate}/log-info-${shortdate}.log"
        keepFileOpen="false" />

    <!-- write error logs to file  -->
    <target name="errorFile" xsi:type="File"
        layout="${longdate} ${pad:padding=5:inner=${level:uppercase=true}}${logger}|${message}|${exception:format=tostring}"
        fileName="${basedir}\logs\${date:format=yyyy}/${date:format=MM}/${shortdate}/log-error-${shortdate}.log"
        keepFileOpen="false" />
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <logger name="*" minlevel="Trace" writeTo="allfile" />

    <logger name="*" minlevel="Debug" maxlevel="Info" writeTo="infoFile" />
    <logger name="*" minlevel="Warn" maxlevel="Fatal" writeTo="errorFile" />
  </rules>
</nlog>