@using Microsoft.AspNetCore.Http

@{
    ViewBag.Title = "Induction";
    Layout = "_Layout_Public";
}

<section id="Induction">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-12">
                <h2>INDUCTION</h2>
                <span class="title-separator"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2><a asp-action="DriverInduction"><i class="fa fa-clone"></i></a>
                <a asp-action="DriverInduction">Driver Induction</a></h2>
            </div>
        </div>
        <div class="row">
            <br/>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2><a asp-action="VisitorInduction"><i class="fa fa-clone"></i></a>
                <a asp-action="VisitorInduction">Visitor/Contractor Induction</a></h2>
            </div>
        </div>
        <div class="row">
            <br/>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2><a href="/Induction/InductionList"><i class="fa fa-bar-chart"></i></a>
                <a href="/Induction/InductionList">Report</a></h2>
            </div>
        </div>
        <div class="row">
            <br/><br/><br/><br/><br/>
        </div>
    </div>
</section>
